@import "../../global.scss";

.intro {
  background-color: #101c34;
  display: flex;
  color: white;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  /*.left {
    flex: 0.5;
    overflow: hidden;

    @include mobile {
      flex: 0.35;
    }

    .imgContainer {
      width: 700px;
      height: 700px;
      background-color: $mainColor;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;

      @include mobile {
        align-items: flex-start;
        width: 250px;
        height: 100%;
      }

      img {
        height: 135%;
        width: 170%;
      }
    }
  }*/
  .right {
    margin-top: 50px;
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 10em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 100px;
        margin: 10px 0;
        color: #8b93a1;

        @include mobile {
          font-size: 50px;
        }
      }
      h2 {
        font-size: 50px;
        color: #bfcadd;
        @include mobile {
          font-size: 30px;
        }
      }
      h3 {
        font-size: 50px;

        @include mobile {
          font-size: 30px;
        }

        span {
          font-size: inherit;
          color: $mainColor;
        }
        border-bottom: ridge;
      }
      h4 {
        max-width: 500px;
        margin-top: 10px;
        max-height: 500px;
        font-size: 18px;
        color: #bfcadd;
        @include mobile {
          font-size: 17px;
          width: 70%;
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
    }
  }
  .logos {
    .logo {
      margin-top: 25px;
      width: 50px;
      height: auto;
      margin-right: 10px;
      cursor: pointer;
      @include mobile {
        width: 20px;
        margin-right: 15px;
      }
    }
  }
  .button {
    margin-top: 25px;
    width: 200px;
    margin-bottom: 60px;
  }
}
